<h1>Create a new recipe</h1>
<form action="/recipes" method="post">
    <label for="">Recipe Name</label>
    <input type="text" name="name" id=""><br>
    <label for="">Ingredients</label>
    <input type="text" name="ingredients" id=""><br>
    <label for="">Cook Time</label>
    <input type="text" name="cook_time" id=""><br>
    <input type="submit" value="Create Recipe">
</form>