<h1>Add a new recipe</h1>
<form action="/recipes" method="post">
    <h2><label>Name:<input type="text" name="name"><label></h2>
    <h2><label>Ingredients:<input type="text" name="ingredients"><label></h2>
    <h2><label>Cook Time:<input type="text" name="cook_time"><label></h2>
    <h2><input type="Submit" value="Add New Recipe" id="Submit"></h2>
</form>