<h1> Create a new recipe </h1>

<form method="POST" action="/recipes">
<p>Recipe name: <input type="text" name="name"></p>
<p>Ingredients required: <input type="text" name="ingredients"></p>
<p>Time required to cook: required: <input type="text" name="cook_time"></p>
<input type="submit">
</form>

